/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --primary-text-color: #3a3a3a;
    --secondary-text-color: #6e6e6e;
    --primary-color: #775fd3;
    --primary-bg: #fff;
    --primary-link-hover: #aca0eb2b;
    --body-bg: #fff;
    --section-title-size: 26px;
    --card-title-size: 24px;
    --card-description-color: #2D3748;
    --smooth-corners: 16.4, 2.2;
}

a {
    text-decoration: none;
}

p {
    word-break: break-word;
}

h1,  h2, h3,  h4,  h5, h6  {
    margin: 0;
}
* {
    box-sizing: border-box;
}

body {
    
    position: relative;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 1.3rem;
}

html, body {
    width: 100%;
    height: max-content;
    scroll-behavior: smooth;
    /* background: var(--body-bg); */
    font-family: "Outfit";
}

.primary-bg {
    background: var(--primary-color);
}

.primary-color {
    color: var(--primary-color);
}

.separator {
    width: 80px;
    height: 6px;
    background: var(--primary-color);
    margin-bottom: 30px;
}
header {
    position: sticky;
    padding: 40px 0px;
    width: 100%;
    height: 80px;
    display: flex;
    background: #ffffffc2;
    top: 0;
    box-shadow: 0 0 10px 0 #eeeeee;
    z-index: 1000;
    backdrop-filter: blur(20px);
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-content nav ul {
    display: flex;
    gap: 10px;
}

header nav a {
    color: var(--primary-text-color);
    text-decoration: none;
    transition: 200ms;
    font-size: 16px;
    padding: 13px;
    border-radius: 5px;
}
header nav a.active {
    color: var(--primary-color);
    background: var(--primary-link-hover);
    text-decoration: none;
    transition: 200ms;
    font-size: 16px;
}

nav .toggle {
    display: none;
}

header nav a {
    color: var(--primary-text-color);
    font-weight: 500;
}

header nav a:hover {
    color: var(--primary-color);
}

.header-content .logo img {
    width: 170px;
    height: 40px;
}

.header-content .toggle img {
    width: 25px;
    height: 60px;
}


main {
    width: 100%;
}

#introduction {
    padding: 0 0 100px 0;
}
#introduction .description {
    color: var(--primary-text-color);
    font-size: 44px;
    font-weight: 400;
    margin: 70px 0;
    width: 850px;
}

#introduction .buttons {
    display: flex;
    align-items: center;
    gap: 30px;
}

#selected-work .container .selected-work-title {
    margin: 0;
    margin-bottom: 30px;
    font-weight: 400;
    color: var(--primary-text-color);
    font-size: var(--section-title-size);
}

.selected-works-cards {
    display: grid;
    gap: 35px;
    grid-template-columns: repeat(2, 1fr);
}

.selected-work-card {
}

.selected-work-card .description{
    padding-top: 20px;
}

.selected-work-card .selected-work-img{
    display: flex;
}

.selected-work-card .selected-work-img  img{
    width: 100%;
}

.selected-work-card .description a .title {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    font-size: var(--card-title-size);
    color: var(--primary-text-color);
    font-weight: 400;
    margin-bottom: 8px;
}

.selected-work-card .description p {
    color: var(--secondary-text-color);
    font-weight: 300;
    font-size: 20px;
    margin: 0;
}

.btn {
    background: var(--primary-color);
    color: #fff;
    border: 0;
    height: 60px;
    width: 180px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    gap: 5px;
    cursor: pointer;
}

.btn-smooth-corners {
    border-radius: 15px;
}

#viewResume {
    font-size: 16px;
}
@supports (-webkit-mask-image: paint(smooth-corners)){
    .btn-smooth-corners {
        border-radius: 15px;
        mask-image: paint(smooth-corners);
        -webkit-mask-image: paint(smooth-corners);
    }
}


.smooth-corners {
    border-radius: 25px;
}

@supports (-webkit-mask-image: paint(smooth-corners)){
    .smooth-corners {
        border-radius: 5px;
        --smooth-corners: 26.4, 12.2;
        mask-image: paint(smooth-corners);
        -webkit-mask-image: paint(smooth-corners);
    }
}

section {
    padding: 30px 0;
    height: max-content;
}


footer .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    color: var(--secondary-text-color);
}

.social {
    display: flex;
    align-items: center;
    gap: 15px;
}

.social a {

}

.social svg {
    width: 28px;
    width: 28px;
}

footer .madeWith{
    font-size: 16px;

}


.lazy-load {
    visibility: hidden !important;
   opacity: 0 !important;
}

.lazy-load.active {
    visibility: visible !important;
    opacity: 1 !important;
    animation: lazy-load .4s linear;
}

@-webkit-keyframes lazy-load {
    0% {
        opacity: 0;
        -webkit-transform:translate3d(0, 60px, 0);
        transform:translate3d(0, 60px, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

::-webkit-scrollbar {
    width: 10px;
    background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: var(--primary-color)
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary-color);
}