@import url('https://rsms.me/inter/inter.css');

:root {
    --primary-text-color: #0b2225;
    --primary-color: #34838b;
    --primary-bg: #e5eff0;
}

html {
    font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
    html {
        font-family: 'Inter var', sans-serif;
    }
}

* {
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    background: #f8f9fa;
}

html, body {
    width: 100%;
    background: #fff;
    scroll-behavior: smooth;
}

header {
    position: sticky;
    width: 100%;
    height: 80px;
    display: flex;
    background: #fff;
    top: 0;
    box-shadow: 0 0 10px 0 #eeeeee;
    z-index: 1000;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-content nav ul {
    display: flex;
    gap: 40px;
}

header nav a {
    color: var(--primary-text-color);
    text-decoration: none;
    font-weight: 500;
    transition: 200ms
}

header nav a:hover {
    color: var(--primary-color);
}

.header-content nav a.active {
    color: var(--primary-color);
    font-weight: 700;
}

.header-content svg {
    width: 33px;
    height: 33px;
}


main {
    width: 100%;
    color: var(--primary-color);
    font-weight: 900;
    font-size: 3em;
}

.main-heading {
    display: flex;
    justify-content: space-between;
    padding-top: 180px;
    padding-bottom: 50px;
}

.main-heading p {
    margin: 0;
}

.main-heading .image-bg {
    background: linear-gradient(0, var(--primary-color), #6dffd2);
    border-radius: 250px;
    padding: 20px;
    width: 300px;
    height: 300px;
    overflow: hidden;
}

.main-heading #porfolio-image {
    flex: 1;
    justify-content: end;
    align-items: center;
    width: 100%;
    display: flex;
    padding-inline-end: 50px;
}
.main-heading #porfolio-image img {
    border-radius: 250px;
    padding: 7px;
    width: 320px;
    height: 320px;
    border-width: 10px;
    border-style: solid;
    border-color: #34838b;
}

.descreption .me {
    margin: 0;
    font-size: 4.5rem;
    width: 600px;
    background: var(--primary-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.descreption .breif {
    margin: 0;
    margin-top: 20px;
    color: var(--primary-text-color);
    font-size: 2.5rem;
    width: 600px;
}

.btn {
    background: var(--primary-bg);
    color: var(--primary-color);
    border: 0;
    height: 65px;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 45px;
    cursor: pointer;
}

.rounded-smooth {
    border-radius: 15px;
    --smooth-corners: 16.4, 2.2;
    mask-image: paint(smooth-corners);
    -webkit-mask-image: paint(smooth-corners);
}

section {
    padding-bottom: 80px;
    overflow: hidden;
}

section.stroked-text {
    position: relative;
    height: 500px;
}

section.stroked-text:before {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 4em;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px var(--primary-color);
}

#education {
    background: var(--primary-bg);
}

#education:before {
    content: "Education";
}

#experience:before {
    content: "Experience";
}

#skills:before {
    content: "Skills";
}

#projects:before {
    content: "Projects";
}

#contact:before {
    content: "Contact";
}

footer {

}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: var(--primary-color)
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary-color);
}