.container {
    width: 80%;
    margin: 0 auto;
}

#bio {
    background: transparent;
}

/* XS */
@media (min-width: 0px) and (max-width: 639px) {
    .container {
        width: 90%;
    }

    nav ul {
        display: none !important;
    }

    nav .toggle {
        display: block;
    }

    #introduction {
        padding: 0 0 50px 0;
    }

    #introduction .description {
        font-size: 32px;
        margin: 70px 0;
        width: 100%;
    }

    .btn {
        height: 50px;
        width: 160px;
        font-size: 14px !important;
    }
    #selected-work .container .selected-work-title {
        font-size: 26px;
    }
    .selected-work-card .description a .title {
        font-size: 22px;
    }

    .selected-work-card .description p {
        font-size: 16px;
    }

    .selected-works-cards {
        grid-template-columns: 1fr;
    }

    .btn {

        font-size: 0.9rem;
        padding: 10px;
        cursor: pointer;
    }

    section.stroked-text:before {
        font-size: 1.4em;
    }

}

@media (min-width: 640px) and (max-width: 767px) {
    .container {
        width: 90%;
    }

    nav ul {
        display: none !important;
    }

    nav .toggle {
        display: block;
    }

    #introduction .description {
        font-size: 38px;
        margin: 70px 0;
        width: 100%;
    }

     #selected-work .container .selected-work-title {
        font-size: 28px;
    }

    .selected-work-card .description a .title {
        font-size: 24px;
    }

    .selected-work-card .description p {
        font-size: 18px;
    }
}

/* MD */
@media (min-width: 768px) and (max-width: 1023px) {
    .container {
        width: 90%;
    }

    nav ul {
        display: none !important;
    }

    nav .toggle {
        display: block;
    }

    #introduction .description {
        font-size: 44px;
        width: 100%;
    }


    #selected-work .container .selected-work-title {
        font-size: 28px;
    }

    .selected-work-card .description a .title {
        font-size: 24px;
    }

    .selected-work-card .description p {
        font-size: 18px;
    }

}

/* LG */
@media (min-width: 1024px) and (max-width: 1279px) {
    .container {
        width: 95%;
    }

    .main-heading {
        padding-top: 80px;
    }


}

/* XL */
@media (min-width: 1280px) {
    .container {
        width: 80%;
    }

    .main-heading {
        padding-top: 80px;
    }

    
}




